body {
    background-color: rgb(187, 171, 164);
  }
  
  .head {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
  }
.head{
    color: rgba(75, 70, 24, 0.315); /* Adds colour */
}
ul li {
  margin-bottom: 280px; /* creates space between the buttons */ 
}

ul {
  list-style-type: none
 
}
ul li button {
  font-size: 50px; /* This increases the font size */
  padding: 15px 30px; /* Adds padding  */
  width: 350px; /* Sets the width of the button */
  cursor: pointer; /* Changes cursor to pointer */
}
.grid {
  display: grid;
  grid-template-columns: 350px 200px;
}

.right-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.game-board {
  border: solid 2px;
}
 
.play-button {
  background-color: #4caf50;
  font-size: 16px;
  padding: 15px 30px;
  cursor: pointer;
}